body{
    padding : 0;
    margin: 0;
    background-color: whitesmoke;
}
.container{
    /*display:flex;
    display: -webkit-flex; !* Safari *!
    flex-direction: column;*/
    width: 100%;
    height: 100%;
    margin: 0 auto;
}

.header{
    height: 25%;

}
.backgroundImg{
    max-height: 100%;
    width: 100%;
}
.backgroundImg2{
    height: 100%;
    width: 100%;
}
.content{
    /*flex-grow: 1;
    display:flex;
    display: -webkit-flex; !* Safari *!
    flex-direction: column;*/
    height: 65%;
    overflow: auto;
    margin-top: 0.5rem;
}
.footer{
    /*display:flex;
    display: -webkit-flex; !* Safari *!
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;*/
    height: 8%;
    width: 100%;
    margin-top: 0.5rem;
    border-top:1px grey solid ;
    
}
.footer ul{
    text-align: center;
    height: 100%;
}
.footer li{
    height: 3rem;
    width: 21%;
    text-align: center;
    line-height: 3rem;
    display: inline-block;
    font-size:1.2rem;
}
li{
    padding: 0;
    margin:0;
    float: none;
}
a{
    text-decoration: none;
    color: grey;
}

.greenBtn{
    border-radius: 0.2rem;
    background-color: green;
    border: 0.5px green solid;
    color: white;
    cursor: pointer;
    font-size: 1.5rem;
    display: block;
    width: 6rem;
    text-align: center;
    height: 2.5rem;
    line-height: 2.5rem;
}
#fullbg {
    background-color:gray;
    left:0;
    opacity:0.5;
    position:absolute;
    top:0;
    z-index:3;
    filter:alpha(opacity=50);
    -moz-opacity:0.5;
    -khtml-opacity:0.5;
}